<div class="div-fixed">
<table class="table m-0">
    <tbody>
        <tr class="bg-black" >
            <td class="col-3 m-2">
                <ul class="nav">
                    <li><a routerLink="/admin/admin-users" routerLinkActive="active">Users</a></li>
                    <li><a routerLink="/admin/admin-books" routerLinkActive="active">Books</a></li>
                    <li><a routerLink="/admin/admin-orders" routerLinkActive="active">Orders</a></li> 
                </ul>
            </td>
                <td class="col-6 p-0 ps-5">
                   <span class="caption ms-5 ps-5 mt-0">BookShop</span>
                   <span class="adm mt-3 ps-4">Administration</span> 
                </td>
            <td class="col-3 text-end pe-3">
                <div class="mt-1">
                    <button type="button" class="btn btn-danger btn-sm mx-1"
                      routerLink="/bookshelf">
                        Exit Admin Cabinet
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>
