<div class="user-entry">
    <div [ngClass]="getClasses('body') + ' rounded bg-white'">
      <div class="border rounded">
        <form class="m-3" novalidate #forgotPasswordForm="ngForm" (ngSubmit)="submitSendEmailAddress(forgotPasswordForm)">
          <h5 class="mt-5 m-2 text-center">Fill in Email Address and we will send you an email with a new password</h5>
          <label class="mt-2 mx-1 text-secondary">Email Address</label>
          <input class="form-control form-control-sm me-1" name="userLogin"
            [(ngModel)]="userLogin" required pattern="[a-zA-Z0-9\.\-_]+@[a-z]+\.[a-z]{2,3}"/>
            <ul class="text-danger ms-1 p-0" *ngIf="forgotPasswordForm.controls['userLogin'].dirty && forgotPasswordForm.controls['userLogin'].invalid">
              <li *ngIf="forgotPasswordForm.controls['userLogin'].errors?.['required']">Value required</li>
              <li *ngIf="forgotPasswordForm.controls['userLogin'].errors?.['pattern']">Do not match email specification</li>
            </ul>  
            <div class="col-12 d-flex justify-content-center mt-5 m-2">
            <button type="button" class="btn btn-secondary btn-sm me-2" routerLink="/bookshelf/entry">Cancel</button>
            <button type="submit" class="btn btn-success btn-sm" [disabled]="forgotPasswordForm.invalid">Submit</button>
          </div>
        </form>
      </div>                
    </div>
</div>
<div class="user-entry-background"></div>
<div class="user-entry-mess" *ngIf="forgotModal">
  <div [ngClass]="getClasses('mes') + ' shadow-lg'">
      <h5 class="mt-5 m-2 text-center">{{forgotMess}}</h5>
      <div class="col-12 d-flex justify-content-center mt-5 m-2">
        <button type="button" class="btn btn-secondary btn-sm" (click)="forgotModalCancel($event)">Cancel</button>
      </div>
  </div>
</div>
