input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
.user-entry {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 901;
}
.user-entry-body {
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 680px;
    margin-right: 680px;
    z-index: 902;
}
.user-entry-body-small {
    padding: 20px;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 250px;
    margin-right: 250px;
    z-index: 902;
}
.user-entry-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}
.button-href {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
ul {
    list-style-type: none;
    font-size: small;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin-right: 8px;
}
