ul.nav{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.nav li { 
    float: left;
}
ul.nav a {
    display: block;
    text-decoration: none;    
    padding:5px;
    margin: 0 5px;
    text-align: center;
}
ul.nav a:hover{
    color: blue;
}
.active{
    border-radius: 5px;
    background-color: #0d6efd;
    color: #f4f4f4;  
}
.nav-fixed{
    position:fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    height:50px;
}
.nav-fixed-small{
    position:fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    height:100px;
}
.caption {
    font-family: annabelle, cursive;
    font-weight: bold;
    font-size: 2em;
    color: #F3CD26;
    text-shadow: 2px 2px 0 rgba(0,0,0,.3);
   }
