<div class="bg-primary div-fixed d-flex justify-content-center">
    <div class="m-3 border bg-white rounded" [ngStyle]="getStyleOrders(16)">
        <table class="table">
            <tbody>
                <tr id="tbhead" class="bg-grey">
                    <td class="col-2 ps-3">Order ID</td>
                    <td class="col-2">User Login</td>
                    <td class="col-2">Order Date</td>
                    <td class="col-2">Email Waiting</td>
                    <td class="col-2">Receive Waiting</td>
                    <td class="col-3 text-center">Show Details</td>
                </tr>
                <tr id="tbbook" [ngStyle]="getStyle(i)" *ngFor="let order of orders; let i = index"
                 (mouseenter)="isMouseOver=i" (mouseleave)="isMouseOver=-1"
                 class="height-50">
                    <td class="col-2 ps-3">BS-{{order.orderId}}</td>
                    <td class="col-2">{{order.userLogin}}</td>
                    <td class="col-2">{{order.orderDate?.toDate()| date}}</td>
                    <td class="col-2">{{!order.sentEmail}}</td>
                    <td class="col-2">{{!order.received}}</td>
                    <td class="col-3">
                        <div *ngIf="isMouseOver==i" class="d-flex justify-content-center">
                            <div class="me-1">
                                <button class="btn btn-outline-info btn-sm" routerLink='/admin/admin-order-details'
                                  (click)="orderDetails(order.orderId, order.userId, i)">
                                    Order
                                </button>
                            </div>
                            <div class="ms-1">
                                <button class="btn btn-sm btn-outline-success"(click)="userDetails(order.userId, '/admin/admin-orders', i)"
                                  routerLink='/admin/admin-users-details'>
                                    User
                                </button>
                            </div>
                        </div>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>
<div class="user-entry-mess" *ngIf="modalSpin">
    <div class="user-entry-body-spin">
        <div class="d-inline-block col-3 m-2 spinner-border text-primary" role="status"></div> 
    </div>
</div>

