a {
    text-decoration: none;
    color: black
}
#book{
    word-break: normal;
    overflow: hidden;
    height: 430px;
    width: 130px;
}
.height-726{
    height: 726px;
}
.height-190{
    height: 190px;
}
.height-74{
    height: 74px;
}
.v-a-m{
    vertical-align: middle; 
}
.div-over{
    position:relative;
    overflow: auto;
}
.div-fixed{
    position:fixed;
    top:51px;
    right: 0px;
    left: 0px;
    height: 100%;
}
.div-fixed-small{
    position:fixed;
    top:85px;
    right: 0px;
    left: 0px;
    height: 100%;
}