<div [ngClass]="getClasses() + ' bg-primary d-flex justify-content-center'">
    <div class="div-over bg-white rounded mt-3" [ngStyle]="getHeight(16)">
        <div class="border m-2  rounded">
          <h3 class="text-center text-secondary p-0 m-0">Profile</h3>
          <form class="m-3 mt-0" novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
              <label class="mt-2 mx-1 text-secondary">Name</label>
              <input class="form-control form-control-sm m-1" name="userName"
                [(ngModel)]="userProfile.userName" required maxlength="10" pattern="^[A-Za-z0-9 ]+$"/>
              <label class="mt-2 mx-1 text-secondary">Email</label>
              <input class="form-control form-control-sm m-1" name="userEmail"
                [(ngModel)]="userProfile.userEmail" required email/>
              <label class="mt-2 mx-1 text-secondary">BirthDate</label>
              <input type="date" class="form-control  form-control-sm m-1" name="userBirthDate" 
                [(ngModel)]="userBirthDate" required />            
              <label class="mt-2 mx-1 text-secondary">ZipCode</label>
              <input class="form-control  form-control-sm m-1" name="userZipCode"
                [(ngModel)]="userProfile.userZipCode" required minlength="6" maxlength="6" pattern="^[0-9]+$" />
              <label class="mt-2 mx-1 text-secondary ">Country</label>
              <input class="form-control form-control-sm m-1" name="userCountry"
                [(ngModel)]="userProfile.userCountry" required pattern="^[A-Za-z0-9 ]+$"/>
              <label class="mt-2 mx-1 text-secondary">City</label>
              <input class="form-control form-control-sm m-1" name="userCity"
              [(ngModel)]="userProfile.userCity" required pattern="^[A-Za-z0-9 ]+$"/>
              <label class="mt-2 mx-1 text-secondary">Address</label>
              <input class="form-control form-control-sm m-1" name="userAddress"
                [(ngModel)]="userProfile.userAddress" required pattern="^[A-Za-z0-9., ]+$"/>  
              <div class="col-12 d-flex justify-content-center mt-4">
                  <button type="submit" class="btn btn-success btn-sm me-2" [disabled]="form.invalid">
                      Submit
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm  me-2" routerLink = '/usercabinet'>Cancel</button>
              </div>
          </form>
        </div>
    </div>
</div>
