<div class="bg-primary div-fixed d-flex justify-content-center">
    <div class="m-3 border bg-white rounded" [ngStyle]="getStyleBooks('doc', 16)">
        <table class="table">
            <tbody>
                <tr id="tbhead" class="bg-grey">
                    <td class="col-1 px-3">Book ID</td>
                    <td class="col-3">Title</td>
                    <td class="col-3">Author</td>
                    <td class="col-1">User Login</td>
                    <td class="col-1">Order Date</td>
                    <td class="col-1">Receive Date</td>
                    <td class="col-1 pe-3">Show Details</td>
                </tr>
                <tr id="tbbook" [ngStyle]="getStyle(i)" *ngFor="let book of booksOrdered; let i = index"
                 (mouseenter)="isMouseOver=i" (mouseleave)="isMouseOver=-1"
                 class="height-50">
                    <td class="col-1 px-3 py-1">{{book.bookId}}</td>
                    <td class="col-3">{{book.title}}</td>
                    <td class="col-3">{{book.authorName}}</td>
                    <td class="col-1">{{book.userLogin}}</td>
                    <td class="col-1">{{book.orderDate?.toDate()| date}}</td>
                    <td class="col-1">{{book.receiveDate?.toDate()| date}}</td>
                    <td class="col-1 pe-3">
                        <div *ngIf="isMouseOver==i" class="d-flex justify-content-center">
                            <div class="m-0">
                                <button class="btn btn-outline-info btn-sm" (click)="orderDetails(book.orderId, book.userId, i)"
                                  routerLink='/admin/admin-order-details'>
                                    Order
                            </button>
                            </div>
                            <div class="ms-1">
                                <button class="btn btn-sm btn-outline-success"(click)="userDetails(book.userId, '/admin/admin-books', i)"
                                  routerLink='/admin/admin-users-details'>
                                    User
                                </button>
                            </div>
                        </div>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>
<div class="user-entry-mess" *ngIf="modalSpin">
    <div [ngStyle]="getStyleBooks('spin', 0)">
        <div class="d-inline-block col-3 m-2 spinner-border text-primary" role="status"></div> 
    </div>
</div>

