<div [ngClass]="getClasses('doc') + ' bg-primary'">
    <div [ngClass]="getClasses('div') + ' bg-white rounded'">
      <div class="border rounded">
        <h3 class="text-center text-secondary p-0 m-0">Change email</h3>
        <form class="m-3 mt-0" novalidate #form="ngForm" (ngSubmit)="submitForm(form)"
        (reset)="resetForm()">
            <label class="mt-2 mx-1 text-secondary">Email</label>
            <input class="form-control form-control-sm mx-1" name="newEmail"
            [(ngModel)]="newEmail" required pattern="[a-zA-Z0-9\.\-_]+@[a-z]+\.[a-z]{2,3}"/>
            <ul class="text-danger p-0" *ngIf="form.controls['newEmail'].dirty && form.controls['newEmail'].invalid">
              <li *ngIf="form.controls['newEmail'].errors?.['required']">Value required</li>
              <li *ngIf="form.controls['newEmail'].errors?.['pattern']">Do not match email specification</li>
            </ul>  
            <label class="mt-2 mx-1 text-secondary">Password</label>
            <input [type]="typePassword" class="form-control  form-control-sm mx-1" name="userPassword" 
            [(ngModel)]="userPassword" required minlength="6"/>
            <ul class="text-danger p-0" *ngIf="form.controls['userPassword'].dirty && form.controls['userPassword'].invalid">
              <li *ngIf="form.controls['userPassword'].errors?.['required']">Value required</li>
              <li *ngIf="form.controls['userPassword'].errors?.['minlength']">Min length is 6 characters</li>
            </ul>  
            <input class="mx-1" type="checkbox" name="showPassword" id="showPassword" [(ngModel)]="showPassword" (change)="setTypePassword($event)" value="true"/>
            <label class="mt-2 mx-1" for="showPassword"> Show Password</label>
            <div class="col-12 d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-success btn-sm me-2"
                  [disabled]="form.invalid">Submit</button>
                <button type="reset" class="btn btn-secondary btn-sm me-2" routerLink = '/usercabinet'>Cancel</button>
            </div>
        </form>
      </div>
    </div>
</div>
