<div class="bg-primary div-fixed d-flex justify-content-center">
    <div class="bg-white" [ngStyle]="getStyleUserDetail('doc', 10)">
        <p class="fs-2 fw-bold text-center m-0">User information</p>
        <div class="d-flex justify-content-center">
        <div class="border mb-2 bg-light rounded" [ngStyle]="getStyleUserDetail('user', 16)">
            <table class="table table-borderless p-0">
                <tbody id="tbuser">
                   <tr>
                    <td>Login:</td>
                    <td class="text-primary">{{userProfile.userLogin}}</td>
                    <td>Email:</td>
                    <td>{{userProfile.userEmail}}</td>
                   </tr>
                    <tr>
                    <td>Nickname:</td>
                    <td class="text-primary">{{userProfile.userNickname}}</td>
                    <td>ZipCode:</td>
                    <td>{{userProfile.userZipCode}}</td>
                   </tr>
                   <tr>
                    <td>ID:</td>
                    <td class="text-primary">{{userProfile.userId}}</td>
                    <td>Country:</td>
                    <td>{{userProfile.userCountry}}</td>
                   </tr>
                   <tr>
                    <td>Birth Date</td>
                    <td>{{userProfile.userBirthDate.toDate() | date}}</td>
                    <td>City:</td>
                    <td>{{userProfile.userCity}}</td>
                   </tr>
                   <tr>
                    <td>Name:</td>
                    <td>{{userProfile.userName}}</td>
                    <td>Address:</td>
                    <td>{{userProfile.userAddress}}</td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="d-flex justify-content-center mx-3">
            <div class="border bg-light ms-1 rounded" [ngStyle]="getStyleUserDetail('order', 0)">
                <table class="table m-0">
                    <tbody>
                        <tr id="tbhead" class="bg-grey">
                            <td><div class="mx-1">#</div></td>
                            <td>Order ID</td>
                            <td>Order Date</td>
                            <td>Email Date</td>
                            <td>Receive Date</td>
                            <td>Returne Date</td>
                            <td>Show Details</td>
                        </tr>
                        <tr [ngStyle]="getStyle(i)" *ngFor="let order of userOrders; let i = index" (mouseenter)="isMouseOver=i" (mouseleave)="isMouseOver=-1">
                            <td><div class="mx-1 my-1">{{i+1}}</div></td>
                            <td>BS-{{order.orderId}}</td>
                            <td>{{order.orderDate?.toDate() | date}}</td>
                            <td>{{order.sentEmailDate?.toDate() | date}}</td>
                            <td>{{order.receiveDate?.toDate() | date}}</td>
                            <td>{{order.returneDate?.toDate() | date}}</td>
                            <td>
                                <div *ngIf="isMouseOver==i">
                                    <button class="btn btn-outline-info btn-sm" (click)="newOrderId(order.orderId, order.userId, i)"
                                     routerLink = '/admin/admin-order-details'>
                                        Detals
                                    </button>
                                </div>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
           <div class="d-flex justify-content-center">
        <div class="col-1 d-grid mt-3">
            <button class="btn btn-secondary" (click)="returnBack()" >Return</button>
        </div>
    </div>
    </div>
 
</div>
