<div [ngClass]="getClasses('div') + ' bg-primary d-flex justify-content-center'">
    <div class="bg-white mt-3 pt-0" [ngStyle]="getStyle(16)">
        <p class="fs-2 fw-bold text-center">Making an Order</p>
        <p *ngIf="!allAllowed" class="fs-5 fw-bold text-center text-danger">Not all items have been added to your order</p>
        <div class="d-flex justify-content-center">
            <div class="col-7 border mx-2 bg-light rounded" [ngStyle]="getStyleOrders(16)">
                <table class="table m-0">
                    <tbody>
                       <tr class="text-primary bg-grey">
                            <td>#</td>
                            <td>Title</td>
                            <td>Author</td>
                            <td>ISBN</td>
                       </tr>
                       <tr *ngFor="let book of userBooks; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{book.title}}</td>
                            <td>{{book.authorName}}</td>
                            <td>{{book.bookId}}</td>
                       </tr> 
                    </tbody>
                </table>
            </div>
            <div class="col-4 border mx-2  bg-light rounded">
                <form class="m-3" novalidate #form="ngForm" (ngSubmit)="submitForm(form)"
                (reset)="resetForm()">
                    <label class="mt-2 mx-1 text-secondary">Name</label>
                    <input class="form-control form-control-sm m-1" name="userName"
                    [(ngModel)]="userProfile.userName" required maxlength="10" pattern="^[A-Za-z0-9 ]+$"/>
                    <label class="mt-2 mx-1 text-secondary">Email</label>
                    <input class="form-control form-control-sm m-1" name="userEmail"
                    [(ngModel)]="userProfile.userEmail" required email/>
                    <label class="mt-2 mx-1 text-secondary">ZipCode</label>
                    <input class="form-control  form-control-sm m-1" name="userZipCode"
                    [(ngModel)]="userProfile.userZipCode" required minlength="6" maxlength="6" pattern="^[0-9]+$" />
                    <label class="mt-2 mx-1 text-secondary">Country</label>
                    <input class="form-control form-control-sm m-1" name="userCountry"
                    [(ngModel)]="userProfile.userCountry" required pattern="^[A-Za-z0-9 ]+$"/>
                    <label class="mt-2 mx-1 text-secondary">City</label>
                    <input class="form-control form-control-sm m-1" name="userCity"
                    [(ngModel)]="userProfile.userCity" required pattern="^[A-Za-z0-9 ]+$"/>
                    <label class="mt-2 mx-1 text-secondary">Address</label>
                    <input class="form-control form-control-sm m-1" name="userAddress"
                    [(ngModel)]="userProfile.userAddress" required pattern="^[A-Za-z0-9., ]+$"/>  
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-2">
            <div [ngClass]="getClasses('but') + ' d-grid mx-1'">
                <button type="button" class="btn btn-success btn-sm" (click)="submitForm(form)" [disabled]="form.invalid || submitDesable">
                    Make an Order
                </button>
            </div>
            <div [ngClass]="getClasses('but') + ' d-grid mx-1'">
                <button type="button" class="btn btn-secondary btn-sm" routerLink = '/usercabinet/user-cabinet-booked'>Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="user-entry-mess" *ngIf="modalSpin">
    <div class="user-entry-body-spin">
        <div class="d-inline-block col-3 m-2 spinner-border text-primary" role="status"></div> 
    </div>
</div>

