input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
.div-fixed-small{
    position:fixed;
    top:85px;
    right: 0px;
    left: 0px;
    height: 100%;
}
.div-over{
    width: 600px;
    height:290px
}
.div-fixed{
    position:fixed;
    top:51px;
    right: 0px;
    left: 0px;
    height: 100%;
}