td {text-align: center;}
.bg-grey{
    background-color: rgb(240, 238, 238);
}
.div-fixed{
    position:fixed;
    top:51px;
    right: 0px;
    left: 0px;
    height: 100%;
}
.div-fixed-small{
    position:fixed;
    top:85px;
    right: 0px;
    left: 0px;
    height: 100%;
}
.div-orders{
    width:70%;
    overflow-y:scroll;
}