.modal-mess {
    position: fixed;
    top: 220;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
}
.modal-mess-body {
    padding: 20px;
    margin-top: 180px;
    margin-bottom: 400px;
    margin-left: 500px;
    margin-right: 500px;
    z-index: 990;
}
.modal-mess-body-small {
    padding: 20px;
    margin-top: 180px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    z-index: 990;
}
a {
    text-decoration: none;
    color: black
}
#book{
    word-break: normal;
    overflow: hidden;
    height: 357px;
    width: 130px;
}
.height-756{
    height: 756px;
}
.height-190{
    height: 190px;
}
.height-70{
    height: 70px;
}
.v-a-m{
    vertical-align: middle; 
}