.user-entry-mess {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 950;
}
.user-entry-body-mess {
    padding: 20px;
    margin-top: 250px;
    margin-bottom: 200px;
    margin-left: 735px;
    margin-right: 735px;
    z-index: 960;
    background-color: white;
}
.user-entry-body-mess-small {
    padding: 20px;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 250px;
    margin-right: 250px;
    z-index: 960;
    background-color: white;
}