<div [ngClass]="getClasses() + ' bg-primary'">
<div class="div-over" [ngStyle]="getHeight()">
    <table class="table table-borderless mt-0">
        <tbody>
          <tr class="height-726">
            <td class="col-1 v-a-m">
              <button type="button" class="btn btn-secondary btn-lg" [disabled]="prevDisabled" (click) = "changePage('prev')"><<</button>
            </td>
            <td class="col-10">
              <div id="book" class="d-inline-block p-1 mx-1 mb-0 rounded-2 border border-2 bg-light"
                 *ngFor="let item of getBooks()">
                  <a [routerLink]="[
                    '/userbooked/bookdetail',
                     {isbn: item.bookId, imgsrc: item.coverId, title: item.title, author: item.authorName, key: item.key}
                     ]" >    
                    <table>
                      <tr class="height-190">
                        <td class="bg-light height-190 p-0">
                          <img src={{item.coverId}} height="200" width="117">
                        </td>
                      </tr>
                      <tr class="height-74">
                        <td class="bg-light height-70 v-a-m">
                          <p class="p-0 m-0 text-center fw-bold"><small>{{item.title | shrinkText:25:'title'}}</small></p>
                        </td>
                      </tr>
                      <tr class="height-74">
                        <td class="bg-light v-a-m">
                          <p class="p-0 m-0 text-center"><small>{{item.authorName | shrinkText:25:'title'}}</small></p>
                        </td>
                      </tr>
                      <tr class="height-30">
                        <td class="bg-light height-15 v-a-m">
                          <p *ngIf="item.allowed" class="p-0 m-0 text-center mb-1 p-0 text-success"><small>Allowed</small></p>  
                          <p *ngIf="!item.allowed" class="p-0 m-0 text-center mb-1 p-0 text-danger"><small>Not Allowed</small></p>
                        </td>
                      </tr> 
                    </table>
                  </a>
                  <div class="height-30 m-0 p-0">
                    <div class="bg-light d-flex justify-content-center height-30 v-a-m">
                      <button type="button" class="btn btn-danger btn-sm" (click) = "deleteBook(item.bookId)">Delete</button>
                    </div>
                  </div>   
              </div>
            </td>
            <td class="col-1 v-a-m">
              <button type="button" class="btn btn-secondary btn-lg" [disabled]="nextDisabled" (click) = "changePage('next')">>></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
