<div [ngClass]="getClasses() + ' bg-primary d-flex justify-content-center'">
    <div class="bg-white mt-3 pt-0" [ngStyle]="getStyle(16)">
        <table class="table table-borderless mb-2 p-0">
            <tbody>
                <tr>
                    <td colspan=4 class="m-0 p-0 t-a-c">
                        <span class="fs-2 fw-bold m-0">Order # BS-{{userOrder.orderId}}</span>
                        <span class="fs-5  fw-bold mx-2">  from {{userOrder.orderDate?.toDate() | date}}</span>
                    </td>
                </tr>
                <tr id="tborder">
                    <td>
                        <span class="fs-5 mx-2">Received:</span>
                        <span class="fs-5 mx-2 text-primary">{{userOrder.received}}</span>
                    </td>
                    <td>
                        <span class="fs-5 mx-2">Receive Date:</span>
                        <span class="fs-5 mx-2 text-primary">{{userOrder.receiveDate?.toDate() | date}}</span>
                    </td>
                    <td>
                        <span class="fs-5 mx-2">Returned:</span>
                        <span class="fs-5 mx-2 text-primary">{{userOrder.returned}}</span>
                    </td>
                    <td>
                        <span class="fs-5 mx-2">Returne Date:</span>
                        <span class="fs-5 mx-2 text-primary">{{userOrder.returneDate?.toDate() | date}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="col-7 border mx-2 bg-light rounded" [ngStyle]="getStyleOrders(16)">
                <table class="table m-0">
                    <tbody>
                       <tr class="text-primary bg-grey">
                        <td><div class="mx-3">#</div></td>
                        <td>Title</td>
                        <td>Author</td>
                        <td>ISBN</td>
                       </tr>
                       <tr *ngFor="let book of userOrderBooks; let i = index">
                        <td><div class="mx-3">{{i+1}}</div></td>
                        <td>{{book.title}}</td>
                        <td>{{book.authorName}}</td>
                        <td>{{book.bookId}}</td>
                       </tr> 
                    </tbody>
                </table>
            </div>
            <div class="col-4 border mx-2 bg-light rounded">
                <table class="table table-borderless">
                    <tbody id="tbuser">
                       <tr>
                        <td>Name:</td>
                        <td>{{userOrder.userName}}</td>
                       </tr>
                       <tr>
                        <td>Email:</td>
                        <td>{{userOrder.userEmail}}</td>
                        </tr>
                       <tr>
                        <td>ZipCode:</td>
                        <td>{{userOrder.userZipCode}}</td>
                       </tr>
                       <tr>
                        <td>Country:</td>
                        <td>{{userOrder.userCountry}}</td>
                       </tr>
                       <tr>
                        <td>City:</td>
                        <td>{{userOrder.userCity}}</td>
                       </tr>
                       <tr>
                        <td>Address:</td>
                        <td>{{userOrder.userAddress}}</td>
                       </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <div class="d-flex justify-content-center">
        <div class="col-1 d-grid mt-3">
            <button class="btn btn-secondary" routerLink = '/usercabinet/user-orders'>Return</button>
        </div>
    </div>
</div>
