input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
.user-entry-mess {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 950;
}
.user-entry-body-spin {
    padding: 20px;
    margin-top: 250px;
    margin-bottom: 200px;
    margin-left: 735px;
    margin-right: 735px;
    z-index: 960;
}
.user-entry-body-spin-small {
    padding: 20px;
    margin-top: 250px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    z-index: 960;
}
.bg-grey{
    background-color: rgb(240, 238, 238);
}
.div-users{
    height:635px;
    overflow-y:scroll;
}
.div-fixed{
    position:fixed;
    top:51px;
    right: 0px;
    left: 0px;
    height: 100%;
}
.div-fixed-small{
    position:fixed;
    top:85px;
    right: 0px;
    left: 0px;
    height: 100%;
}