input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
.user-entry {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 901;
}
.user-entry-body {
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 680px;
    margin-right: 680px;
    z-index: 902;
}
.user-entry-body-small {
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 160px;
    margin-left: 220px;
    margin-right: 220px;
    z-index: 902;
}
.user-entry-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}

